<%= turbo_frame_tag dom_id(room, :call_banner) do %>
  <div data-controller="call-status-refresh" style="display:none"></div>
  <% if room.active_call? %>
    <% notify = local_assigns.fetch(:notify, false) %>
    <% participant_ids = room.call_participants.pluck(:user_id) %>
    <% participant_names = room.call_participants.includes(:user).map { |cp| cp.user.name }.to_sentence %>
    <div class="call-banner flex align-center gap"
         data-controller="call-banner"
         data-call-banner-participant-ids-value="<%= participant_ids.to_json %>"
         data-call-banner-notify-value="<%= notify %>">
      <div class="call-banner__indicator"></div>
      <span class="txt-small">
        <%= t("messages.on_a_call", names: participant_names) %>
      </span>
      <span data-call-banner-target="joinBtn">
        <%= link_to t("calls.join"), room_call_path(room), class: "btn btn--small btn--reversed", target: "_blank" %>
      </span>
      <span data-call-banner-target="leaveBtn" style="display:none">
        <%= button_to t("calls.leave"), room_call_path(room), method: :delete, class: "btn btn--small btn--negative", data: { turbo_frame: "_top" } %>
      </span>
    </div>
  <% end %>
<% end %>
