<% if user.active? %>
  <%= button_to user_ban_path(user), method: :post,
        class: "btn full-width",
        data: { turbo_confirm: t("admin.confirm_ban_user") } do %>
    <%= image_tag "cancel.svg", aria: { hidden: "true", label: "Ban #{@user.name}" } %>
    <span><%= t("admin.ban") %> <%= user.name %></span>
  <% end %>
<% else %>
  <%= button_to user_ban_path(user), method: :delete,
        class: "btn btn--negative full-width",
        data: { turbo_confirm: t("admin.confirm_unban_user") } do %>
    <%= image_tag "cancel.svg", aria: { hidden: "true", label: "Remove Ban #{@user.name}" } %>
    <span><%= t("admin.unban") %></span>
  <% end %>
<% end %>
